/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*
  Set All Body Tags' Margin and Padding to 0
  Set All Body Tags to Border-Box
*/



.desktop-screen-only {
  display: none;
}


/*
  Styles - Responsiveness - > 1000px
*/

@media screen and ( min-width: 1000px ) {

  /*
    Styles - Body
  */

  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }


  /*
    Styles - CSS Classes & IDs
  */

  .desktop-screen-only {
    display: inline-block;
  }

}
