/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*
  Set All Body Tags' Margin and Padding to 0
  Set All Body Tags to Border-Box
*/

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2f3f7;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.email {
  color: #FF9F55 ;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
  background-color: #FF9F55;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}




/* Set a background color */
body {
  width: 100% !important;
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


/* Styling for resume */

body {
  margin: 0px;
  background-color: #ffffff;
  font-family: "C540", serif;
  color: #000000;
  font-size: larger;
}

h1, h2 {
  /* padding-left: 30px; */
}


.content {
  background-color: #fafafa;
  /* max-width: 800px; */
  margin: 0px auto;
  width:100%;
 padding: 50px 20px 50px 20px; 
  border: 1px solid #efefef;
}

.summary, .position, .education, p {
  /* margin-bottom: 25px;
  margin-left: -40px;
  padding-left: 70px; */
}

.summary {
  border-top: 2px solid #800080;
}

.position {
  border-top: 2px solid #ff0000;
}

.education {
  border-top: 2px solid #008000;
}

.title {
  display: block;
  margin-top: -10px;
  margin-left: -10px;
  padding-left: 10px;
  background-color: #fafafa;
}

.degree {
  display: block;
  font-style: italic;
}

.time-period {
  display: block;
  font-size: smaller;
  color: #999;
} 
.mybio h2{
  font-size:24px;
  font-weight:600;
  line-height:30px;
  margin-left:0px;
  padding-left:0px;
  margin-top:25px;
}
.mybio p{
  font-size:16px;
  font-weight:normal;
  margin-bottom:20px;
  margin-left:0px !important;
  padding-left:0px !important;
}
p{margin-bottom:10px !important;}
.ability-image{
  width:100%;
  max-width:100px;
    text-align:center;
    margin:auto !important;
}
.myabilities{
  
  padding:20px;
  transition: 0.2s all ease-in;
}
.myabilities:hover{
  
  margin-top:-2px;
  transition: 0.2s all ease-in;
  background: #9e0a0c;
}
.centertitle{
  color:#9e0a0c;
  font-size:25px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom:50px;
}
.mytimeline{
   padding:30px 20px;
  border-radius:15px;
  margin-bottom:20px;
  margin-right:10px;
  margin-left:10px;
}
.mytimeline1{
  background: #9e0a0c;

}
.mytimeline2{
  background: #0a9e89;

}
.mytimeline3{
  background: #9e4f0a;

}

.mytimeline h3{
  text-align: left;
  color:#fff;
  font-size:20px;
  font-weight:600;
  line-height:30px;
  margin:auto !important;
  padding-right:20px !important;
  padding-left:20px !important;
    }
 .mytimeline p{
      font-size:16px;
      font-weight:normal;
      color:#fff;
      text-align: left;
            margin-left:0px !important;
            padding-left:20px !important;
            padding-right:20px !important;
      margin-bottom: 30px;
        }
.myabilities h3{
  text-align: center;
  font-size:20px;
  font-weight:600;
  line-height:30px;
  margin:auto !important;
  padding-left:0px !important;
    }
 .myabilities p{
      font-size:16px;
      font-weight:normal;
      text-align: center;
            margin-left:0px !important;
      padding-left:0px !important;
        }
          
        .myabilities:hover h3{
          text-align: center;
          font-size:20px;
          font-weight:600;
          color:#fff;
          line-height:30px;
          margin:auto !important;
          padding-left:0px !important;
            }
         .myabilities:hover p{
              font-size:16px;
              font-weight:normal;
              color:#fff;
              text-align: center;
                    margin-left:0px !important;
              padding-left:0px !important;
                }
                  

                .myabilities:hover  .ability-image{
                  filter: brightness(0) invert(1);
                }
                .myname{margin-top:17%;}
                .myname h1{
                  font-size:30px;
                  line-height: 35px;
                  margin-top:30px;
                  color: #000;
                }
                .myname h1 span{
                  color: #9e0a0c;
                  font-weight: 600;
                  text-transform: uppercase;
                }
                .custbutton{
                  background: #9e0a0c !important;
                  padding:5px 20px !important;
                  font-size:17px !important;
                  color:#fff !important;
                  border-radius:15px !important;
                  float: left;
                }
                .custbutton:hover{
                  color: #9e0a0c;
                  background:#000;
                  border:2px solid #9e0a0c;
                  padding:5px 20px;
                  font-size:17px;
                  border-radius:15px;
                  transform: scale(0.95);
                  transition: 0.2s all ease-in;
                  float: left;
                }
                section{
                  padding-bottom:50px;
                  padding-top:64px !important;
                }
.techimage{
  background:url('https://img.pngio.com/symbiontio-technology-line-png-1500_873.png');
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
}
.homesec{
  min-height:500px;
}

.tarunnav  {
  width:100%;
  margin:auto;
  text-align: center;
  border-bottom:1px solid #eaeaea;
  position: fixed;
  background:#fff;
  z-index: 999;
  
}
.tarunnav ul li  {
  margin-top: 40px !important;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  padding: 20px 0px;
      }
      .tarunnav ul li a  {
        
        
        margin-left:30px;
        margin-right:30px;
        text-align: center;
        color:#9e0a0c;
        font-weight:600
            }






/*
  Styles - Responsiveness - > 1000px
*/

@media screen and ( min-width: 1000px ) {

  /*
    Styles - Body
  */

  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .myabilities h3{
    font-size:20px;
    font-weight:600;
    line-height:30px;
      }
   .myabilities p{
        font-size:16px;
        font-weight:normal;
        margin-bottom:20px;
        margin-left:0px !important;
        padding-left:0px !important;
          }
    


  /*
    Styles - CSS Classes & IDs
  */
 

}



/* 
Sidebar code borrowed from : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed
Timeline code borrowed from : https://www.w3schools.com/howto/howto_css_timeline.asp
*/