/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*
  Set All Body Tags' Margin and Padding to 0
  Set All Body Tags to Border-Box
*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.email {
  color: antiquewhite;
}



.desktop-screen-only {
  display: none;
}


/*
  Styles - Responsiveness - > 1000px
*/

@media screen and ( min-width: 1000px ) {

  /*
    Styles - Body
  */

  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }


  /*
    Styles - CSS Classes & IDs
  */

  .desktop-screen-only {
    display: inline-block;
  }

}
